
*.class

*.prefs

target/phresco-commons-2.0.0.31002-SNAPSHOT.jar

target/maven-archiver/pom.properties

target/classes/commons-messages.properties

target/classes/META-INF/maven/com.photon.phresco.commons/phresco-commons/pom.xml

.classpath

.project

target/classes/META-INF/LICENSE.txt

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/com.photon.phresco.commons/phresco-commons/pom.properties

target/classes/exception-messages.properties
/target

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

do_not_checkin
